.boarding__body{
    background-image: url(./img/Boarding-1.png);
    background-position: 62% 50%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;

    height: 100vh;
    width: 100vw;
}

.body-2{
    background-image: url(./img/Boarding-2.png);
    background-position: 42% 50%;
    background-size: cover;
}

.body-3{
    background-image: url(./img/Boarding-3.png);
    background-position: 35% 50%;
    background-size: cover;
}

.body-4{
    background-image: url(./img/Boarding-4.png);
    background-position: 82% 50%;
    background-size: cover;
}

.boarding__body::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.body-2::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.body-3::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.body-4::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.boarding__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 11px;
    z-index: 1;
}

.boarding__title{
    z-index: 1;
    font-size: 26px;
}

.boarding__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;

    width: 100%;
    position: absolute;
    right: 0;
    top: 38%;
    z-index: 1;
}

.info__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    background-color: var(--color-purple-light);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 28px;
    padding-inline: 42px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__whill{
    display: flex;
    column-gap: 4px;
}

.whill__line{
    background-color: var(--color-purple);
    width: 20px;
    height: 4px;

    border-radius: 2px;
}

.whill__line.is-active{
    background-color: var(--color-white);
}
