.logo{
    background-color: var(--color-black);

    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 200px;
}

